<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HMAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58E5B15A1E16449200C2F114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58E5B1731E16449300C2F114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58E5B17E1E16449300C2F114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
